body{
    background-color: #fffbf7;
    /*background-image: url('https://i.pinimg.com/originals/20/fa/77/20fa773230f669fb2295f9eaf1a9a51e.png');*/
}

h1{
    color: aqua;
}
h2{
    color: #46484c;
}

p{
    color: #8b8b8bcc;
}

.fidex-header{
    position: fixed;
    background-color: #fffbf7;
    top: 0; 
    left: 0;
    right: 0;
}

  main {
  margin-top: 150px;
  //text-align: center;
} 
.header{
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 40px 20px 0 20px;
    font-size: 0;
}  


.header > * {  /*esa funcion es para indicarle que engloba a los hijos de header*/
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    font-family: sans-serif;
} 

.logo{
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: left;
}

.navbar > * {
    color: #025157;
}

.navbar li{
    margin: 0 25px 0 25px;
    display: inline;
}

.actions{
    width: 15%;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}

.actions > * {
    margin: 0 10px 0 10px;
}
.actions a{
    color: #67b54b;
}

.actions button{
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: none;
    border-radius: 5px;
}

.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.video img{
    width: 150px;
    margin-top: 15px;
} 
 
.publish {
    /* container styles if any */
 }

.publish h2 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }

.publish > img{
    width: 500px;
}

.publish > button{
    background-color: #025157;
    color: #fff;
    padding: 12px 14px 12px 14px;
    border: none;
    border-radius: 5px;
}

.gsection{
    display: flex;
    align-items: center;
    background-color: #a1d683;
}


.cases{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.cases h2 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
.cases > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }

.cases > img{
    width: 100px;
}

.cases > button{
    background-color: #025157;
    color: #fff;
    padding: 12px 14px 12px 14px;
    border: none;
    border-radius: 5px;
}


/*Clase 4*/
.features{
    display:grid;
    /* grid-template-columns: 1fr 1fr; */
   /*  grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,330px); */
    grid-template: repeat(2, 1fr) / repeat(2, 330px);
    background-color: #025157;
    padding: 3% 10%;
}

.features-art{
    background-color: white;
    border: 2px solid gray;
    border-radius: 8px;
    width: 85%;
    height: 250px;
     display: flex;
    align-items: center;

    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
  
} 

.features .feature-card {

     margin: 25px;

    
   
    overflow: hidden;
    }