body{
    background-color: #fffbf7;
    /*background-image: url('https://i.pinimg.com/originals/20/fa/77/20fa773230f669fb2295f9eaf1a9a51e.png');*/
}

h1{
    color: #025157;
    font-family: "Alegreya", serif;
}
h2{
    color: #46484c;
}

p{
    color: #8b8b8bcc;
}

button{
    color: #fff;
    background-color: #025157;
}

.fidex-header{
    position: fixed;
    background-color: #fffbf7;
    top: 0; 
    left: 0;
    right: 0;
}

/* Se hizo una prueba. Se agregó un "." al inicio de la clase y esto provocó que el html no la reconociera, entonces en el HTML se tuvo que especificar class="main" para que la tomara. Por lo tanto se quito el punto para no tener que escribir la clase en el HTML */
main{  
    margin-top: 285px;
    text-align: center; 
} 

.header{
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 40px 20px 0 20px;
    font-size: 0;
    height: 100%;
}  

.header > * {  /*esa funcion es para indicarle que engloba a todos los hijos directos de header*/
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    /*Todos los textos dentro de la barra de navegación deben usar la fuente sans-serif y el alto de la barra debe ser de 45px. */
    font-family: sans-serif;
    line-height: 45px; 
} 

.logo{
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: left;
}

.navbar li{
    margin: 0 25px 0 25px;
    display: inline;
    color: #025157;

    /* El texto del menú de navegación debe tener una separación a los costados de 25px, además debe ser del color #025157 */
}

.actions{
    width: 15%;
    text-align: left;
    font-weight: 600;
     font-size: 14px; /*El tamaño de fuente para las acciones debe ser de 14px*/
}

.actions > * {
    margin: 0 10px 0 10px;
    /*cada una de las acciones debe tener una separación hacia los lados de 10px*/
}
.actions a{
     color: #67b54b;  /*El color del texto Sign In debe ser #67b54b */
}

.actions button{
    /*debe tener color de texto blanco, color de fondo #67b54b, un relleno de 14px hacia los costados y 12px en la parte inferior y superior. Por último el botón no debe tener borde, pero un radio de borde de 5px para tener esquinas redondeadas.*/
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px; 
    border: none;
    border-radius: 5px;
}

.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.video img{
    width: 150px;
    margin-top: 15px;
} 
 
.publish {
    /* container styles if any */
    margin-left: 20px;
 }

.publish  h2 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px; 
    font-weight: bold;
    color: #025157;
}
  
.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}
  
.publish > form {
    display: flex;
   // flex-direction: column;
}
  
.publish > form p {
    color: #025157;
    margin-right: 18px;
}

/*Postwork 3*/
.studyc{
    padding: 30px 0;
    background-color: #a1d683;
   /*  display: flex;
    align-items: center;
    justify-content: space-around; */
}

.studyu{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap:80px;
    align-items: center;
}

.brands{
}

.brands > h2 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    color: #025157;
}
  
.brands > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
}

.brands > button{
    background-color: #025157;
    color: #fff;
    padding: 12px 14px 12px 14px;
    border: none;
    border-radius: 5px;
    display: block;
}

.brands > img{
    margin-top: 30px;
    width: 450px;
}

.cases{
   /*  display: flex;
    flex-direction:column; */
    position: relative;
    width: 300px;
    border-radius: 5px;
    background-color: white;
}

.cases > img{
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profiles-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #f9da73;
    bottom: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    right:20px;
    top:200px;
}

.profiles-logo >img {
    max-width: 75%;
}

.card{
    padding: 20px;
}
.card > h4{
    color: #025157;
    font-size: 15px;
}
.card > h3{
    font-size: 25px;
    font-weight: 400;
}

.card > button{
    background-color: #025157;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.percent{
    display: flex;
    align-items: center;
}

.percent > img{
    margin-right: 25px;
    width: 26px;
    height: 26px;
}

/*Clase 4*/
.features{
    display:grid;
    /* grid-template-columns: 1fr 1fr; */
   /*  grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,330px); */
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    background-color: #025157;
    padding: 5% 10%;
}

.features-art{
   /*  background-color: white;
    border:none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 0 15px 30px 15px;  */

    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
} 

.tarjeta1{
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.tarjeta1>img{
    width: 50px;
}

.tarjeta1>h3{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    //font-weight: 200px;
}
.tarjeta1>p{
    font-size: 18px;
    //font-weight: 200px;
}
.tarjeta1>a{
    color: #67b54b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.tarjeta2{
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}

.tarjeta2 > img {
    margin-top: 0;
    height: 100%;
}


/*SESION 5*/
/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    body{
        background-color: #ccf7a9;
    }
    .navbar , .actions{
        display: none;
    }
    h1{
        font-size: 30px;
    }
    main{  
        margin-top: 150px;
    } 
    .banner >img{
        width: 100%;
    }
    .publish > form {
        flex-direction: column;
        text-align: center;
    }

    .publish > form > div {
        height: 50px;
        margin-top: 10px;
    }
    
    .publish > form > div > input {
        width: 65%;
    }
    .promo {
        flex-direction: column;
    }
    .video > video {
        width: 100%;
    }
    .publish {
        margin-top: 10px;
    }
    
    .publish > h2 {
        font-size: 25px;
        line-height: 1.2;
    }
    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
    }  
    .feature-image {
        display: none;
    }
  }
  
  /** dispositivos pequeños en vista landscape (horizontal) */
  @media (min-width: 576px) and (max-width: 767px) {
     
  }
  
  /** dispositivos medianos (tablets) */
  @media (min-width: 768px) and (max-width: 991px) {
     
  }
  
  /** dispositivos grandes (desktops) */
  @media (min-width: 992px) and (max-width: 1199px) {
     
  }
  
  /** dispositivos extra grandes (monitores grandes, tvs) */
  @media (min-width: 1200px) {
     
  }
  
